.navList ul,
.navList li {
	list-style: none;
}

/* ==================== */
/* DropDown navigation */

.dropDownNav {
	position: fixed;
	height: 100%;
	width: 100%;
	top: -100%;
	left: 0;
	background-color: #292931;
	padding: 30px;
	z-index: 1000;
	transition: 0.5s all;
}

.dropDownNav .navList a {
	color: white;
	text-decoration: none;
	font-size: 3.2rem;
}

.dropDownNav .navList li {
	margin-bottom: 20px;
}

.navList {
	margin-top: 80px;
	margin-bottom: 100px;
}

.dropDownNav img {
	background: #6e61ff;
	border-radius: 100%;
	text-align: center;
	object-fit: cover;
	object-position: center;
}

.hamburger {
	font-size: 40px;
	color: white;
	cursor: pointer;
}

.hamburgerDark {
	font-size: 40px;
	cursor: pointer;
}

.logoHamburgerWrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.social {
	display: flex;
	margin-bottom: 10px;
}

.social div {
	margin-right: 10px;
	color: white;
	font-size: 1.5rem;
	cursor: pointer;
}

.toggleNav {
	display: block;
}

.toggleNav .dropDownNav {
	top: 0;
	transition: 0.5s all;
}

.mobileNav img {
	background: #6e61ff;
	border-radius: 100%;
	text-align: center;
	object-fit: cover;
	object-position: center;
}

/* =================== */
/* Desktop Navigation */

.desktopNav {
	display: none;
}

/* ================ */
/*  Media Queries  */

@media (min-width: 768px) {
	.heroBtn {
		min-width: 120px;
		padding: 0 25px;
	}
}

@media screen and (min-width: 1024px) {
	.mobileNav {
		display: none;
	}

	/* =================== */
	/* Desktop Navigation */
	.desktopNav {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin: 32px 0;
	}

	.desktopNav .navList {
		display: flex;
		align-items: center;
	}

	.desktopNav .navList a {
		color: black;
		margin-left: 25px;
		text-decoration: none;
		font-size: 2rem;
	}

	.desktopNav img {
		background: #6e61ff;
		border-radius: 100%;
		text-align: center;
		object-fit: cover;
		object-position: center;
	}
}
