.content {
	cursor: pointer;
}

.projectWrapper {
	margin-bottom: 70px;
}

.projectWrapper h3 {
	font-size: 3rem;
	margin-bottom: 15px;
	font-weight: 700;
	margin-top: 30px;
}

.projectWrapper h4 {
	font-size: 1.8rem;
	font-weight: 500;
	margin-bottom: 30px;
}

.projectWrapper p {
	font-size: 1.8rem;
}

.btn {
	background-color: #222222;
	border: 2px solid white;
	border-radius: 3px;
	box-shadow: #000000 4px 4px 0 0;
	color: white;
	cursor: pointer;
	display: inline-block;
	font-weight: 600;
	font-size: 14px;
	margin-top: 2rem;
	width: 150px;
	height: 40px;
	text-align: center;
	text-decoration: none;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
	transition: 0.4s all;
}

.btn:hover {
	box-shadow: #000000 0px 0px 0 0;
	transform: translate(4px, 4px);
	transition: 0.4s all;
}

@media screen and (min-width: 1024px) {
	/* =============== */
	/* PROJECT STYLES */

	.projectWrapper {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		align-items: center;
		grid-gap: 70px;
		justify-content: space-between;
	}

	.projectWrapper:hover img {
		scale: 1.1;
	}

	.projectWrapper h3 {
		font-size: 3.2rem;
		margin-top: 0;
	}

	.projectImg {
		background-color: #f0f0f0;
		padding: 40px;
		border-radius: 5px;
		cursor: pointer;
	}

	.projectImg img {
		object-fit: contain;
		transition: 0.5s all;
		border-radius: 15px;
	}

	.projectImg img:hover {
		scale: 1.1;
		transition: 0.5s all;
	}
}
