.content {
	padding: 2rem;
	height: 280px;
}

.articleWrapper {
	margin-bottom: 70px;
	background-color: white;
}

.articleWrapper h3 {
	font-size: 1.8rem;
	margin-bottom: 15px;
	font-weight: 500;
}

.articleWrapper h4 {
	font-size: 1.8rem;
	font-weight: 700;
	margin-bottom: 30px;
}

.articleWrapper p {
	font-size: 1.8rem;
}

@media screen and (min-width: 1024px) {
	/* =============== */
	/* PROJECT STYLES */

	.articleWrapper {
		align-items: center;
		grid-gap: 70px;
		justify-content: space-between;
	}

	.articleWrapper h3 {
		font-size: 1.8rem;
	}

	.projectImg {
		background-color: #f0f0f0;
		border-radius: 5px;
	}

	.projectImg img {
		object-fit: cover;
		object-position: center;
		height: 250px;
	}
}
