.timeline {
	border-bottom: 1px dotted #6e61ff;
	padding:2rem 0;
}



.timelineInfo {
	min-width: 160px;
	margin-bottom: 10px;
}

.timelineInfo h3 {
	font-size: 1.9rem;
	line-height: 1;
	margin-bottom: 5px;
	font-weight: 600;
}

.timeline p{
	font-size: 1.5rem;
}

.timelineContent li{
	list-style: circle;
	font-size: 1.4rem;
}



.timelineContent {
	margin-left: 20px;
	margin-bottom: 20px;
}


.timelineContent {
	max-width: 90%;
}


@media screen and (min-width:1024px) {
	.timeline {
		
			width: 90%;
			
		}
}