.skillsWrapper {
	margin-bottom: 100px;
}

.skillsWrapper h2 {
	font-size: 3.5rem;
	font-weight: 600;
	margin-bottom: 50px;
}

.skills {
	margin-bottom: 20px;
}

.skills div {
	border: 2px solid black;
	padding: 50px 40px;
	border-radius: 10px;
	box-shadow: #000000 4px 4px 0 0;
	margin-bottom: 80px;
}

.skills div h3 {
	font-size: 2rem;
	margin: 40px 0 20px;
	font-weight: 600;
}

.skills div p {
	font-size: 1.8rem;
}

.icon {
	background-color: #6e61ff;
	font-size: 4rem;
	padding: 12px;
	border-radius: 30px;
}

@media screen and (min-width: 1024px) {
	.skillsWrapper {
		margin-bottom: 150px;
	}

	.skills {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}

	.skills div {
		width: 32%;
		margin-bottom: 0;
	}

	.skills div h3 {
		font-size: 3rem;
		margin: 50px 0 20px;
	}
}
