.footer {
	background-color: #6e61ff;
	color: white;
	padding: 100px 0 80px;
	margin-top: 100px;
}

.footerHeading h3 {
	font-size: 3.5rem;
	margin-bottom: 30px;
}

.footerLink {
	position: relative;
	margin-top: 150px;
}

.footerLink::before {
	content: "";
	height: 1px;
	width: 100%;
	position: absolute;
	background-color: white;
	top: -80px;
}

.footerHeading button {
	background-color: #6e61ff;
	border: 2px solid #222222;
	border-radius: 4px;
	box-shadow: #000000 4px 4px 0 0;
	color: #ffff;
	cursor: pointer;
	display: inline-block;
	font-weight: 600;
	font-size: 18px;
	padding: 0 50px;
	line-height: 50px;
	text-align: center;
	text-decoration: none;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
	margin-bottom: 50px;
	margin-top: 60px;
	transition: 0.4s all;
}

.footerHeading button:hover {
	box-shadow: #000000 0px 0px 0 0;
	transform: translate(4px, 4px);
	transition: 0.4s all;
}

.footerLink h3 {
	font-size: 3rem;
	margin-bottom: 10px;
	margin-top: 5px;
}

.footerLink p {
	margin-bottom: 10px;
}

.footerLink ul {
	margin-top: 30px;
}

.footerLink li {
	font-size: 18px;
}

.footerLink a {
	color: white;
	text-decoration: none;
	font-size: 2rem;
}

.footerLink img {
	background: white;
	border-radius: 100%;
	text-align: center;
	object-fit: contain;
	object-position: center;
}

.footerLink li {
	margin-bottom: 14px;
}

@media screen and (min-width: 1024px) {
	.footer {
		margin-top: 200px;
	}

	.footerHeading {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.footerHeading div {
		width: 50%;
	}

	.footerHeading div:last-child {
		text-align: right;
	}
	/* 
	.footerHeading h3 {
		font-size: 3.5rem;
		margin-bottom: 20px;
	} */

	.footerLink {
		display: flex;
		justify-content: space-between;
		align-items: center;
		position: relative;
		margin-top: 150px;
	}

	.footerLink ul {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-top: 0;
	}

	.footerLink li {
		margin-left: 15px;
		font-size: 18px;
		margin-bottom: 0;
	}

	.footerLink a {
		color: white;
		text-decoration: none;
	}

	.footerLink img {
		background: white;
		border-radius: 100%;
		text-align: center;
		object-fit: cover;
		object-position: center;
	}
}
