.contactWrapper {
  display: flex;
  justify-content: space-between;
  margin: 100px 0;
}

.contactDetails {
  width: 45%;
}

.contactDetails h1 {
  font-size: 4rem;
  font-weight: 600;
}

.contactDetails div {
  margin-top: 50px;
}

.email div {
  font-size: 1.6rem;
  margin-bottom: 5px;
}

.email p {
  font-size: 3rem;
  font-weight: 600;
}

.contactLinks {
  margin-top: 60px;
}

.contactLinks li {
  border-bottom: 1px solid black;
  padding-bottom: 10px;
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.contactLinks li:hover svg {
  transform: rotate(-30deg);
  transition: all 0.3s ease-in-out;
}

.contactLinks a {
  font-size: 3rem;
  color: black;
  text-decoration: none;
}

/* Contact Form */
.contactWrapper form {
  width: 45%;
}

.contactWrapper form > div {
  margin-bottom: 20px;
}

.contactWrapper label {
  display: block;
  margin-bottom: 10px;
  font-size: 1.7rem;
}

.contactWrapper input,
.contactWrapper textarea {
  width: 100%;
  padding: 10px;
  border: none;
  border: 1px solid rgb(33, 33, 33);
}

.contactWrapper button {
  width: 60%;
  height: 45px;
  background: black;
  color: white;
  font-size: 1.7rem;
  cursor: pointer;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contactWrapper span {
  margin-right: 15px;
}

.contactWrapper button svg {
  width: 20px;
  transform: rotate(-30deg);
  margin-top: -3px;
}
