.aboutContainer {
	/* max-width: 960px; */
	margin: 8rem auto 12rem;
}

.wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 3rem 0;
}

.imageWrapper {
	position: relative;
	height: 300px;
	width: 50%;
	flex: 1 1 200px;
}

.imageWrapper img {
	object-fit: cover;
	object-position: top;
	border-radius: 60px;
}

.descWrapper {
	flex: 1 1 55%;
	margin-left: 5rem;
}

.descWrapper p {
	width: 80%;
}

.descTitle {
	margin-bottom: 2rem;
	font-size: 3.5rem;
	font-weight: 700;
}
