.aboutContainer {
	max-width: 960px;
}

.wrapper {
		display: flex;
		flex-direction: column-reverse;
}

.imageWrapper {
	position: relative;
	height: 300px;
	
}

.imageWrapper img {
	object-fit: cover;
	object-position: top;
	border-radius: 60px;
}



.descWrapper{
	margin-top: 30px;
	margin-bottom: 40px;
}

.descTitle {
	margin-bottom: 2rem;
	font-size: 3rem;
	font-weight: 700;
}



@media screen and (min-width:1024px) {
	.aboutContainer{
	 margin: 7rem auto 0;
		
	}
	.wrapper{
		flex-direction: row;
		margin: 3rem 0;
		justify-content: space-between;
		align-items: center;
	}


	.imageWrapper{
		width: 50%;
		flex: 1 1 200px;
	}

	.descWrapper {
		flex: 1 1 55%;
		margin: 0;
		margin-left: 5rem;
	}

		.descTitle {
			margin-bottom: 2rem;
			font-size: 3.5rem;
			font-weight: 700;
		}

		.descWrapper p {
			width: 80%;
		}
}